.nav{
    display: flex;
    justify-content:space-between;
    justify-items: center; 
    align-items: center;
    padding: 1rem 1rem;
    background-color: white;
    flex-wrap: wrap;
    margin-bottom: 80px;
}
.items{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}


@media only screen and (max-width: 990px){
    .nav{
        margin-bottom: 40px;
    }
  
    .logo{
        justify-content: center;
        text-align: center;
        margin: 0 auto;
    }
    .items{
        text-align: center;
    }



}