 <div class="container  ">
    <div class="nav">
        <a href="#" class="logo">
            <img class="bi me-2" src="./assets/logo-1.svg" alt="logo" width="120" height="96">
        </a>
        <div class="items">
            <div>
                <a class="text-dark fs-6 fw-bolder nav-link" aria-current="page" href="/about">Recursos de interés</a>
            </div>
            <div >
                <a class="  text-dark fs-6 fw-bolder nav-link " aria-current="page" href="/listcomunity">Ver Colonias registradas</a>
            </div> 
            <div >
                <a class=" text-dark fs-6 fw-bolder nav-link " aria-current="page" href="/newcomuniti">Registrar nueva Colonia</a>
            </div> 
        </div>
    </div>
 </div> 

<!-- 

 <div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
        <a href="#" class="logo">
            <img class="bi me-2" src="./assets/logo-1.svg" alt="logo" width="120" height="96">
        </a>

        <div>
            <a class="text-dark fs-6 fw-bolder nav-link" aria-current="page" href="/about">Recursos de interés</a>
        </div>
        <div >
            <a class="  text-dark fs-6 fw-bolder nav-link " aria-current="page" href="/listcomunity">Ver Colonias registradas</a>
        </div> 
        <div >
            <a class=" text-dark fs-6 fw-bolder nav-link " aria-current="page" href="/newcomuniti">Registrar nueva Colonia</a>
        </div> 
   
    </div>
    <nav class="navbar navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  </div> -->