
<div class="container card">
        <div class="row justify-content-center">
            <div class="col col-md-4">
                <div class=" text-center ">
                    <div class="card-body ">
                       
                            <ul *ngFor="let co of comu">
                            <li>Calle: {{co.calle}}</li>
                            <li>{{co.cp}}</li>
                            <li>{{co.ng}}</li>

                        </ul>  
                    </div>
                </div>
            </div>
        </div>

      
        </div>

 


  
