



<div class="container card">
    <div class="row d-flex justify-content-center  pt-3">
        <div class="col-md-10  col-sm-8 ">
        <div class=" text-left ">
            <ul class="list-group list-group-flush ">
                <li class="list-group-item">   <img class="bi me-2" src="./assets/minimichi.svg" alt="" width="48" height="52">An item</li>
                <li class="list-group-item">   <img class="bi me-2" src="./assets/minimichi.svg" alt="" width="48" height="52">An item</li>
                <li class="list-group-item">   <img class="bi me-2" src="./assets/minimichi.svg" alt="" width="48" height="52">An item</li>
                <li class="list-group-item">   <img class="bi me-2" src="./assets/minimichi.svg" alt="" width="48" height="52">An item</li>
            </ul>          
        </div>
        </div>
    </div>
 </div>

