
<div class="container card">
    <div class="row d-flex justify-content-center  ">
        <div class="col-md-10  col-sm-8 ">
        <div class=" text-left ">
            <ul class="list-group list-group-flush ">
                <li class="list-group-item">   <img class="bi me-2 font-weight-bold" src="./assets/minimichi.svg" alt="" width="48" height="52">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">AMAN</h5>
                      </div>
                    <p class="mb-1">Gestor y cuidado de colonias felinas.</p>
                    <a href="https://www.asociacionaman.com/" title="aman">Ir a su contenido web</a>
                    <link rel="stylesheet" href="https://www.asociacionaman.com/">
                </li>
                <li class="list-group-item">   <img class="bi me-2 font-weight-bold" src="./assets/minimichi.svg" alt="" width="48" height="52">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Málaga Felina</h5>
                      </div>
                    <p class="mb-1">Málaga Felina es una asociación sin animo de lucro cuya finalidad es el control de colonias callejeras de gatos mediante el metodo CES( capturar,esterilizar,soltar).</p>
                    <a href="https://www.asociacionaman.com/" title="aman">Ir a su contenido web</a>
                    <link rel="stylesheet" href="https://www.facebook.com/malagafelina/">
                </li>
            </ul>          
        </div>
        </div>
    </div>
 </div>
