
<div class="container pt-3">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <form action="">
                <div class="form-group tex">
                    <label for="text">Calle</label>
                    <input type="text" class="form-control" id="email">
                </div>
                <div class="form-group tex">
                    <label class="control-label" for="text">Código Postal</label>
                    <input type="text" class="form-control" id="cp">
                </div>
                <div class="form-group tex">
                    <label for="text">Número de gatos (Si es posible)</label>
                    <input type="text" class="form-control" id="ng">
                </div>
                <div class="form-group tex">
                    <span class="form-group">¿Están alimentados?</span>

                </div>

             
                <div class="form-check tex">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                   Si
                    </label>
                </div>
               
                <div class="form-check tex">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                        No
                    </label>
                </div>
           

    

            <button type="submit" class=" mt-3 btn btn-secondary btn-block">Submit</button>
        </form>



    
            
           
        </div>
        </div>
    </div>
 