
  <div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3" >
            <div class="card border-0">
                <div class="class-body text-center">
                    <span class="mx-auto fw-bolder fs-5 text-center">Listado de comunidades</span>
                    <form class="mt-3" [formGroup]="newComunityForm" (ngSubmit)="addNewComunity()">
                        <div class="mb-3">
                            <input type="text" formControlName="calle" 
                            class="form-control form-control-lg" placeholder="Calle">
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="cp"
                            class="form-control form-control-lg" placeholder="Código Postal">
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="ng"
                            class="form-control form-control-lg" placeholder="Número de gatos">
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="coordenadas"
                            class="form-control form-control-lg" placeholder="Coordenadas"  >
                        </div>
                        <div class="mb-3">
                            <button type="submit" class=" mt-3 btn btn-secondary btn-lg float-end" >Aceptar</button>
                            <a class="mt-3 btn btn-secondary btn-lg float-start "  href="/home">volver</a>
                        </div>
                        
                        <!-- Poner un toaster con notificación de Comunidad registrada correctamente -->

                        

                        

                        
                        
                    </form>
             
                </div>

            </div>

        </div>

    </div>


  </div>