
 <div class="container card ">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10  col-sm-8 ">
        <div class=" text-center ">
            <div class=" bg-white">
                <div class="mx-auto fw-bolder fs-3 text-center">Buscador de Colonias felinas</div>
            </div>
            <div class="row justify-content-center mb-2">
                <div class="col col-md-4">
                    <div class=" text-center ">
                        <div class="card-body " >
                            <div>
                                <input type="text" class=" form-control mt-2 mb-5"  [(ngModel)]="cp" placeholder="Introduce un Código Postal">
                            </div>
                            <a  class="btn btn-secondary btn-block"(click)="goCcp()" >Buscar resultados</a>
                         </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
 </div>

