
   <!-- <div class="footer mt-5">
    <footer class=" d-flex flex-wrap justify-content-center  text-white fixed-bottom " style="background-color: black;">
        <div class="text-center p-3 " style="background-color: rgba(0, 0, 0, 0.2);">
            <p >Copyright © 2022</p>
            <p > Made with  <img class="bi me-2" src="./assets/corazon.svg" alt="" width="30" height="24">by <a class="text-white" href="fatimalvcruz@gmail.com">Fátima </a> </p>
          </div>
    </footer>
    
   </div>
     -->

     <div class="footer">
      <p >Copyright © 2022 </p>
      
      <p > Made with <img class="bi me-2" src="./assets/corazon.svg" alt="" width="30" height="24">by <a class="text-white" href="fatimalvcruz@gmail.com">Fátima </a> </p>

     </div>